<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments :: head('Edit task')}"></div>


<body>

<div id="page-container">

    <div id="page-content">
        <div th:replace="~{fragments :: header('Rediger Task')}"></div>

        <p>Vær venlig at ændre navnet her:</p>

        <div class="centered-form">
            <form method="post">
                <input type="text" name="task_name" placeholder="" th:value="${#ctx.task.name}"/>
                <button type="submit" name="task_id" formaction="/updatetask" th:value="${#ctx.task.id}">Opdater navn</button>
            </form>
        </div>
        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>